html, body {
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
canvas {
  width: 100%;
  height: 100%;
  display: block;   /* this is IMPORTANT! */
}
button, input{
  border:1px #CCC solid;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}